form{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
label{
    margin-top: 15px;
}
input[type="submit"]{
    margin-top: 15px;
    width: fit-content;
}
p.error{
    color: red;
    margin: 10px 0 5px 0;
    display: none;
}

body{
    background-color: #0E5E6F;
}

#titre{
    border: 1px solid black;
    color: #F2DEBA;
    text-align: center;
}

a{
    color: #FFEFD6;
}

#sujetInput{
    margin-top: 10px;
}