form{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
label{
    margin-top: 15px;
}
input[type="submit"]{
    margin-top: 15px;
    width: fit-content;
}
p.error{
    color: red;
    margin: 10px 0 5px 0;
    display: none;
}

body{
    background-color: #0E5E6F;
}

h1{
    border: 1px solid black;
    color: #F2DEBA;
    text-align: center;
}

a{
    color: #FFEFD6;
}

#sujetInput{
    margin-top: 10px;
}

#insertion{
    align-self: center;
}

#inputText{
    text-align: center;
}

#url{
    text-align: center;
}

table{
    border: 1px solid #FFEFD6;
    margin-left: 100px;
    width: 80%;
}

#logout{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

form{
    margin: 0 auto;
}

tr:nth-of-type(even){
    background-color: #3A8891;
}